{
  "pkgRoot": "dist/ep-intersection-observer",
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "verifyConditions": "@semantic-release/npm",
  "prepare": "@semantic-release/npm",
  "generateNotes": "@semantic-release/release-notes-generator",
  "publish": "@semantic-release/npm",
  "success": false,
  "fail": false,
  "branch": "master",
  "npmPublish": true,
  "tarballDir": "dist",
  "assets": "dist/*.tgz",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],


     ["@semantic-release/git", {
    "assets": ["package.json", "projects/ep-intersection-observer/package.json", "README.md", "projects/ep-intersection-observer/README.md", "CHANGELOG.md", "projects/ep-intersection-observer/CHANGELOG.md", "LICENSE.md", "projects/ep-intersection-observer/LICENSE.md"],
    "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
  }],
      ["@semantic-release/github", {
      "assets": "release/*.tgz"
    }],
     "@semantic-release/npm",
     ["@semantic-release/exec", {
    "prepareCmd": "VERSION=${nextRelease.version} npm run adjust-version"
    }]
  ]
}
