<figure class="media">
  <img src="./assets/images/bird.jpg" alt="bird">
</figure>

<section class="section" ep-io *ngFor="let number of [1,2,3,4,5,6,7,8,9,10];">

  <figure class="media">
    <img src="./assets/images/flame.jpg" alt="flame">
  </figure>

</section>


<section class="section" ep-io>

  <figure class="media">
    <img src="./assets/images/tiger.jpg" alt="tiger">
  </figure>

</section>


<div class="trigger trigger--top">
  <div class="triangle"></div>
</div>
<div class="trigger trigger--bottom">
  <div class="triangle"></div>
</div>
